<div>
	<div id="computedTest">
		<h3>{{a1}}</h3>
		<h3>{{a2}}</h3>
		<h3>a1 + a2 : {{test_method()}}</h3>
		<h3>a1 + a2 : {{test_method()}}</h3>
		<h3>a1 + a2 : {{test_method()}}</h3>
		<h3>a1 + a2 : {{test_computed}}</h3>
		<h3>a1 + a2 : {{test_computed}}</h3>
		<h3>a1 + a2 : {{test_computed}}</h3>

		<button type="button" v-on:click="setValue">test</button>

		<h3>get random method: {{getRandomMethod()}}</h3>
		<h3>get random method: {{getRandomMethod()}}</h3>
		<h3>get random method: {{getRandomMethod()}}</h3>

		<h3>get random method: {{getRandomComputed}}</h3>
		<h3>get random method: {{getRandomComputed}}</h3>
		<h3>get random method: {{getRandomComputed}}</h3>
	</div>
</div>

<script defer type="text/javascript" src="~/js/computed.js"></script>