<div>
	<span>사용자 지시자 테스트 입니다.</span>

	<div id="vueTest">
		<input v-focus type="text"/>
		<br/>
		<input v-focus2/>
		<br/>

		<h3 v-test2:arg1.a1.a2.a3="data1">{{str}}</h3>
	</div>
</div>

<script defer type="text/javascript" src="~/js/userDirective.js"></script>