<div>
	<span>V-IF test 입니다.</span>

	<div id="watchTest">
		<ul>
			<li v-for="(a1, idx) in array1">
				{{idx}}: {{a1}}
			</li>
		</ul>
	</div>
</div>

<script defer type="text/javascript" src="~/js/v-for.js"></script>