<div>
	<span>Vue Watch test 입니다.</span>

	<div id="watchTest">
		input1: <input type="text" v-model="a1"/> <br/>
		input2: <input type="text" v-model="a2"/> <br />
		<h3>{{a1}}</h3>
		<h3>{{a2}}</h3>
		<h3>{{a3}}</h3>
	</div>
</div>

<script defer type="text/javascript" src="~/js/watch.js"></script>